
<h1>Create a template driven form and apply validation</h1>


{{registrationform.value | json}}
<div style="text-align: center;">
	<h1>Registration Form</h1>
</div>

<div >
	<form #registrationform="ngForm" (ngSubmit)="onSubmit(registrationform)">
  	    <div class="container">
   			<p>Please fill in this form to create an account.</p>
    		<hr>

			<label for="name"><b>Name</b></label>
    		<input type="text" placeholder="Enter Name" name="name" [(ngModel)]="name" #refname="ngModel" required/>
            <div class="form-text text-danger" *ngIf="!refname?.valid && refname.touched">
                Name is required.
            </div>

   			<label for="email"><b>Email</b></label> 
    		<input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email" #refemail="ngModel" email required/>
            <div class="form-text text-danger" *ngIf="!refemail?.valid && refemail.touched">
                Email is required.
            </div>
            

   			<label for="psw"><b>Password</b></label>
  			<input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" #refpass="ngModel" required/>
              <div class="form-text text-danger" *ngIf="!refpass?.valid && refpass.touched">
                Password is required.
            </div>


    		<label for="psw-repeat"><b>Repeat Password</b></label>
    		<input type="password" placeholder="Repeat Password" name="psw-repeat" [(ngModel)]="repassword" #refrepass="ngModel" required/>
            <div class="form-text text-danger" *ngIf="!refrepass?.valid && refrepass.touched">
                Password is required.
            </div>

			<label for="address"><b>Address</b></label>
    		<input type="text" placeholder="Enter Address" name="address" [(ngModel)]="address" #refadd="ngModel" required/>
            <div class="form-text text-danger" *ngIf="!refadd?.valid && refadd.touched">
                Address is required.
            </div>

   			<hr>

    		<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    		<input type="submit" value="Submit" class="registerbtn" [disabled]="!registrationform.valid">
  		</div>

  		<div class="container signin">
    			<p>Already have an account? <a routerLink="">Login in</a>.</p>
  		</div>
	</form>
</div>
	