<div class="heading">Reactive/Model Driven Form</div>
<div class="container ">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()" class=" border p-3 rounded-3">
      <div class="row g-0 text-center p-2 mb-3 bg-light">
        <h3>Login Form</h3>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="firstname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstname" formControlName="firstname">
          <div class="form-text text-danger" *ngIf="firstname.errors ?.['required'] && firstname.touched">
            First name is required.
          </div>
          <div class="form-text text-danger" *ngIf="firstname.errors ?.['minlength']">
            Minimun length should be 5.
          </div>
        </div>
        <div class="col mb-3">
          <label for="lastname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastname" formControlName="lastname">
          <div class="form-text text-danger" *ngIf="lastname.errors ?.['required'] && lastname.touched">
            Last name is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <div class="form-text text-danger" *ngIf="email.errors ?.['required'] && email.touched">
            Email is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div class="form-text text-danger" *ngIf="password.errors ?.['required'] && password.touched">
            Password is required.
          </div>
        </div>
      </div>
      <div class="row fs-5 p-3">
        <button>Submit</button>
      </div>
      
    </form>
    </div>