<div class="heading">Hooks</div>
      <ol>
        <li><a routerLink="/parent-onchange" >OnChanges</a></li>
        <li><a routerLink="/parent-oninit" >OnInit</a></li>
        <li><a routerLink="/parent-docheck">DoCheck</a></li>
        <li><a routerLink="/parent-after-content-init">AfterContentInit</a></li>
        <li><a routerLink="/parent-after-content-checked">AfterContentChecked</a></li>
        <li><a routerLink="/parent-after-view-init">AfterViewInit</a></li>
        <li><a routerLink="/parent-after-view-checked">AfterViewChecked</a></li>
        <li><a routerLink="/parent-ondestroy">OnDestroy</a></li>

      </ol>
