<h1>Just use all built in pipe in one example .</h1>

<h1>
    {{"hello " | uppercase}}
    </h1>
    <h1>
        {{"hey how are you ?" | titlecase}}
    </h1>
    
    <h1>
        {{2000 | currency}}
    </h1>
    
    <h1>
        {{today | date}}
    </h1>
    <h1>
        {{today | date:'fullDate'}}
    </h1>
    
    <h1>
        {{today | date:'medium'}}
    </h1>
    
    <h1>
        {{"HEllo how are you?" | slice:0:10}}
    </h1>
    
    <h1>
        {{"hey how are you?" | slice:-5}}
    </h1>
    <h1>
    </h1>