.side-bar{
    background-color: #bdbdbd;
    font-style: italic;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    
}

.main-bar{
    background-color: #e0e0e0;
    overflow-x: hidden;
    overflow-y: auto;
    /* height: auto; */
}

a{
    color: blue;
    font-size: 16px;
}

h1{
    font-weight: bold;
    background-color: grey;
}

h4{
    font-weight: bold;
}

li{
    padding-bottom: 5px;
}

