<div style="display:flex; height: 100%;">
  <div style="width:16%; padding: 10px; border-right: 1px solid #ccc;" class="side-bar">
      <h1>Topic</h1>
      <ul>
        <li><a routerLink="/interpolation" >1.Interpolation</a></li>
        <li><a routerLink="/property-binding">2.Property Binding</a></li>
        <li><a routerLink="/event-binding">3.Event Binding</a></li>  
        <li><a routerLink="/two-way-binding">4.2-way Binding</a></li>
        <li><a routerLink="/pipe">5.Pipe</a></li>
        <li><a routerLink="/directive">6.Directives</a></li>
        <li><a routerLink="/bootstrap">7.Bootstrap</a></li>
        <li><a routerLink="/angular-material">8.Angular Material</a></li>
        <li><a routerLink="/parent">9.Parent-Child</a></li>
        <li><a routerLink="/hooks">10.Hooks</a></li>
        <li><a routerLink="/template-driven-form">11.Template Driven Form</a></li>
      </ul>

      
      <h1>Tasks</h1>
      <h4>Assignment 05-02-2024</h4>
      <ul>
        <li><a routerLink="/ordinal-numbers">1.ordinal numbers</a></li>
        <li><a routerLink="/MR-MISS">2.Mr/Miss </a></li>
        <li><a routerLink="/search_object">3.search employee</a></li>
        <li><a routerLink="/built-in-pipe">4.Built in pipe</a></li>
      </ul>

      <h4>Assignment 07-02-2024</h4>
      <ul>
        <li><a routerLink="/parent_task">1.parent-child</a></li>
      </ul>

      <h4>Assignment 08-02-2024</h4>
      <ul>
        <li><a routerLink="/bootstrap">1.Bootstrap</a></li>
        <li><a routerLink="/angular-material">2.Angular Material</a></li>
      </ul>

      <h4>Assignment 12-02-2024</h4>
      <ul>
        <li><a routerLink="/hooks">1.Hooks</a></li>
      </ul>

      <h4>Assignment 13-02-2024</h4>
      <ul>
        <li><a routerLink="/template-driven-form">1.Template Driven Form</a></li>
      </ul>
     
      
  </div>

  

  <div style="flex:1; padding: 20px;" class="main-bar">
    <router-outlet></router-outlet>
  </div>
</div>

